.main-header {
  nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    text-transform: uppercase;
    flex-wrap: wrap;

    ul.categories {
      flex-basis: 25%;

      display: flex;
      justify-content: flex-start;
      list-style: none;

      a {
        padding: 1rem;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease-in-out;
      }

      .active {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }

    .currency-chart-container {
      flex-basis: 25%;

      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;

      span {
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }

      svg {
        fill: #43464e;
      }
    }

    .chart-indicator {
      position: relative;
    }

    .chart-indicator::before {
      content: attr(data-count);
      font-size: 0.8rem;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      position: absolute;
      top: -0.6rem;
      right: -0.6rem;
      width: 1.2rem;
      height: 1.2rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: white;
      background-color: black;
    }
  }
}
